* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #322c52; */
  /* background-color: #1b9cfc; */
  /* background-color: #292f34; */
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);
}

input,
button {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 150px auto;
  width: 500px;
  height: 600px;
  border-radius: 15px;

  background: rgba(243, 234, 234, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.todo-header {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.todo-form {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.todo-list {
  list-style-type: none;
  padding: 10px;
  margin: 20px auto;
}

.todo-list li {
  transition: all ease-in 2s;
}

.todo-list li {
  width: 100%;
  padding: 8px;
  margin: 5px auto;
}

.todo-list li {
  border: 1px solid;
  border-radius: 10px;
}

.todo-form input[type='text'] {
  padding: 10px;
  margin: 10px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.todo-form button {
  padding: 10px;
  margin: 10px;
  width: 60px;
  height: 40px;
  border-radius: 10px;
}

.trash-btn {
  background-color: transparent;
  border: none;
  width: 50px;
  text-align: center;
  position: absolute;
  right: 50px;
}

.edit-btn {
  background-color: transparent;
  border: none;
  width: 50px;
  text-align: center;
  position: absolute;
  right: 100px;
}

.form-btn {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  width: 100%;
}

.form-btn button {
  width: 30%;
}
