* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.todo-header {
  margin: 20px 20px;
  font-size: 2rem;
  font-family: sans-serif;
}

.todo-form {
  margin: 15px 20px;
  padding: 10px 10px;
}

.todo-form input[type='text'],
button {
  margin: 10px;
  font-size: 18px;
  padding: 10px;
}

input {
  width: 500px;
  background-color: white;
  color: black;
  border: 2px solid;
  border-radius: 4px;
}

button {
  width: 100px;
  background-color: white;
  color: black;
  border: 2px solid;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

input::placeholder {
  font-size: 18px;
}
